@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  cursor: crosshair;
}

/* Evitar que el texto se pierda */
h1, h2, h3, p, span {
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

/* Animación para GeriCare */
.featured-project {
  border: 2px solid #FAFF00;
  box-shadow: 0 0 40px rgba(250, 255, 0, 0.2);
}
